<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<!--    adding css from the repo static folder-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen">
    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen">
    <!--    adding js code from the repo static folder-->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>


</head>
<body>

<h2>Hello and Welcome</h2>
<!--adding image from static folder-->
<img th:src="@{images/welcome.png}"/>

<div th:replace="/fragments/index :: footer-menu"> Menu</div>
<div th:replace="/fragments/index :: main-menu">Main</div>


</body>
</html>